obsolete/best_dividends.py
obsolete/best_fnbs.py
obsolete/best_sp500.ipynb
obsolete/best_sp500.py
obsolete/best_tsx.py
obsolete/delay_growth.py
obsolete/divhop.ipynb
obsolete/divhop.py
obsolete/dividend_hop.py
obsolete/effective_growth.ipynb
obsolete/effective_growth.py
obsolete/fnbs_select.py
obsolete/get_dividend_calendar.ipynb
obsolete/get_dividend_calendar.py
obsolete/get_fnb.py
obsolete/loop_tickers.py
obsolete/main.py
obsolete/mc_sp500.py
obsolete/monday_effect.py
obsolete/plot_dividend_ticker.ipynb
obsolete/plot_divident_ticker.py
obsolete/predicteur.py
obsolete/read_bidoux_csv.py
obsolete/sklearn_bydoux.py
obsolete/sklearn_pydoux2.py
obsolete/skpydoux.py
obsolete/stats_sp500.py
obsolete/ticker_stats.ipynb
obsolete/tickers.py
